.td {
    &-user {
        --table-tb-user: 120px;
        width: calc(var(--table-tb-user) + var(--table-padding));
    }

    &-product {
        --table-tb-user: 160px;
        max-width: calc(var(--table-tb-user) + var(--table-padding));
    }

    &-content {
        --table-tb-content: 240px;
        max-width: calc(var(--table-tb-content) + var(--table-padding));
    }

    &-create-date {
        --table-tb-create-date: 126px;
        max-width: calc(var(--table-tb-create-date) + var(--table-padding));
    }

    &-action {
        --table-tb-action: 80px;
        max-width: calc(var(--table-tb-action) + var(--table-padding));
    }
}

.data {
    &-user,
    &-product {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-content {
        min-height: 50px;
        max-height: 60px;
        padding: 8px;
        font-size: 1.6rem;
        text-align: left;
        overflow: auto;
    }
}
