.wrapper-content {
    min-height: 5rem;
    padding: 0.8rem;
    color: var(--text-color);
    font-size: 1.6rem;
    text-align: left;
    background-color: #f2f3f5;
    border-radius: 1.4rem;
}

.td {
    &-review-id,
    &-user,
    &-product {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-review-id {
        width: 120px;
    }

    &-user {
        width: 160px;
    }

    &-product {
        max-width: 220px;
    }
}
