.wrap {
    display: flex;
    align-items: center;
}

.input {
    width: 80px;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 1.4rem;
}

.separate {
    width: 24px;
    height: 1px;
    margin-right: 4px;
    margin-left: 4px;
    background-color: gray;
    border-radius: 1px;
}

.btn-submit {
    padding: 4px 6px;
    margin-left: 16px;
    border-radius: 2px;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1.4rem;
}
