.tabs {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tab {
    position: relative;
    padding: 2px;
    cursor: pointer;

    &--active {
        font-weight: 600;
    }

    &::after {
        display: block;
        content: '';
        position: absolute;
        bottom: -14%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--primary-color);
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 300ms ease-out;
    }

    &--active,
    &:hover {
        color: var(--primary-color);
    }

    &--active::after,
    &:hover::after {
        transform: scale(1);
    }
}

// Responsive

/* Mobile, Tablet */
@media screen and (max-width: 1023px) {
}

/* Tablet */
@media screen and (min-width: 740px) and (max-width: 1023px) {
    .tabs {
        overflow-x: auto;
        overflow-y: hidden;
    }

    .tabs::-webkit-scrollbar {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 739px) {
    .tabs {
        overflow-x: auto;
        overflow-y: hidden;
    }

    .tabs::-webkit-scrollbar {
        display: none;
    }

    .tab {
        &__button {
            font-size: 1.6rem;
        }
    }
}
