.td {
    &-name,
    &-id {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-id {
        max-width: 14rem;
    }

    &-name {
        max-width: 11rem;
    }

    &-total {
        text-align: right;
    }
}

.state {
    padding: 2px 4px;
    color: var(--white);
    border-radius: 4px;
}

.pendingpay,
.pending {
    background-color: #ffd21e;
}

.cancel {
    background-color: var(--second-color);
}

.complete {
    background-color: var(--primary-color);
}

.delivery {
    height: 20px;
    background-color: #22c55e;
}
