@use '../abstracts/spacing-m' as space-m;
@use '../abstracts/spacing-v' as space-v;

.section {
    padding: var(--spacer-3);
    background-color: var(--bg-color);
    box-shadow: var(--shadow-theme);
    border-radius: var(--spacer-1);
}

.inner {
    --padding: calc(var(--spacer-3) * 2);
    min-height: calc(var(--main-min-height) - var(--padding));
}

.width {
    &-sm,
    &-md {
        padding-left: 0;
        padding-right: 0;
    }

    &-sm {
        width: min(684px, 100%);
    }

    &-md {
        width: min(880px, 100%);
    }
}

.form-sm {
    --width: 360px;

    width: 100%;
    max-width: var(--width);
    margin: 0 auto;
}

.df-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.flex-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.gap-1 {
    gap: 4px;
}

.gap-2 {
    gap: 8px;
}

.gap-3 {
    gap: 16px;
}

.gradient {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;

    body & {
        background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 1)
        );
    }

    body.dark & {
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    }
}

.invalid {
    color: var(--second-color) !important;
}

@media (min-width: 576px) {
    .width {
        &-sm,
        &-md {
            @include space-m.spacing-x(padding, space-v.$spacer * 3);
            @include space-m.spacing-x(margin);
        }
    }
}
