.line-bottom {
    padding-bottom: var(--spacer-2);
    border-bottom: 1px solid var(--border-color);
}

.section-bottom {
    margin-top: 16px;
    margin-right: 6px;
    margin-left: 6px;
}
