.main {
    &-nav {
        .link {
            display: block;
            margin-bottom: var(--spacer-3);

            &:hover {
                color: var(--primary-color);
            }
        }
    }

    &-brands {
        display: flex;
        justify-content: space-between;
    }

    &-link {
        margin-top: var(--spacer-2);
        margin-bottom: var(--spacer-4);
    }

    &-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 80px;
        padding: var(--spacer-1) var(--spacer-3);
        border: 1px solid var(--gray-color);
        border-radius: var(--spacer-3);

        img {
            width: auto;
            height: 12px;
        }

        &--hp {
            img {
                height: 18px;
            }
        }

        &:hover {
            border-color: var(--primary-color);
        }
    }
}
