.section {
    margin: 20px 0;
}

.products {
    padding: 0 10px 10px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.product {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
    padding-right: 2;
}

.quantity {
    position: absolute;
    top: 6px;
    left: 32px;
    padding: 6px 8px;

    color: var(--white);
    font-size: 1.1rem;
    line-height: 11px;
    text-align: center;
    white-space: nowrap;

    border-radius: 20px;
    background-color: var(--fourth-color);
}

.img {
    height: 50px;
    margin-right: 14px;
    border-radius: 8px;
    border: 1px solid #0000001a;
}

.info {
    display: flex;
    align-items: center;
}

.text {
    color: #717171;
    font-size: 1.4rem;

    &-large {
        color: var(--text-1-color);
    }
}

.large-text {
    display: inline-block;

    color: var(--text-1-color);
    font-size: 1.8rem;

    &--blue {
        color: var(--fourth-color);
        font-weight: 600;
    }
}

// Responsive
@media screen and (max-width: 1200px) {
}

/* Mobile, Tablet */
@media screen and (max-width: 1023px) {
    .product {
        max-width: 100%;
    }
}

/* Tablet */
@media screen and (min-width: 740px) and (max-width: 1023px) {
}

/* Mobile */
@media screen and (max-width: 739px) {
    .img {
        height: 4rem;
    }

    .info {
        h3 {
            max-width: 16rem;
            margin-left: 0.4rem;
            font-size: 1.4rem;
        }
    }

    .large-text {
        padding-top: 0.8rem;
        font-size: 1.6rem;
    }
}
