.overlay {
    position: fixed;
    inset: 0px;
    background-color: rgba($color: #000000, $alpha: 0.7);
    z-index: 4;
}

.modal {
    position: absolute;
    padding: var(--spacer-3);
    background-color: var(--bg-color);
    z-index: 4;

    &--small {
        width: min(500px, 100%);
    }

    &--left {
        top: 0;
        bottom: 0;
        left: 0;
        padding-right: 0;
    }

    &--right {
        top: 0;
        right: 0;
        bottom: 0;
        padding-left: 0;
    }

    &--center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: var(--spacer-3);
    }
}
