.form-group {
    .label-input {
        display: block;
        margin-left: 0.2rem;
        margin-bottom: 0.2rem;

        color: var(--text-1-color);
        font-size: 1.6rem;

        span {
            color: var(--second-color);
        }
    }

    .invalid-message {
        display: block;
        height: 12px;
        padding: 0 8px;
        margin-top: 4px;
        margin-bottom: 8px;
        color: var(--second-color);
    }
}
