.skeleton {
    width: 100%;
    background-color: var(--bg-contrast-2-color);

    &--text {
        border-radius: var(--spacer-2);
    }

    &.pulsate {
        animation: pulsate 2s infinite;
    }

    &.wave {
        overflow: hidden;

        &::after {
            display: block;
            content: '';
            height: 100%;
            transform: translateX(-100%);
            background: rgb(0, 0, 0);
            animation: wave 2s infinite;
        }

        body &::after {
            background: linear-gradient(
                90deg,
                #00000000 2%,
                #f7f7f7 8%,
                #00000000 16%
            );
        }

        body.dark &::after {
            background: linear-gradient(
                90deg,
                #00000000 2%,
                #8e8e8e1f 8%,
                #00000000 16%
            );
        }
    }
}

@keyframes pulsate {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

@keyframes wave {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(100%);
    }
}
