.wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--spacer-3);
    height: 100%;
}

.btn-toggle,
.btn-sign-in {
    display: none !important;
}

.btn-account {
    display: flex;
    align-items: center;
    column-gap: var(--spacer-2);
    padding-right: var(--spacer-3);
    border: none;
    border-radius: var(--round);
    background-color: var(--primary-color);

    &__avatar {
        --size: 34px;

        width: var(--size);
        height: var(--size);
        border-radius: var(--round);
    }

    & > span {
        color: var(--white);
    }
}

.cart {
    position: relative;
    padding: var(--spacer-1);
    color: var(--text-1-color);

    & > span {
        position: absolute;
        top: -8px;
        right: -6px;
        min-width: 20px;
        height: 20px;
        line-height: 16px;
        padding: 0 2px;
        background-color: var(--second-color);
        border: 2px solid var(--white);
        border-radius: 42px;
        color: var(--white);
        font-size: 1.4rem;
        text-align: center;
        z-index: 1;
    }

    &:hover {
        background-color: var(--gray-hover-color);
    }
}

@media (min-width: 992px) {
    .btn-sign-in[href] {
        display: inline-block !important;
    }

    .btn-toggle {
        display: flex !important;
    }
}
