@use '../abstracts/color-v' as color;
@use '../abstracts/spacing-m' as space-m;
@use '../abstracts/spacing-v' as space-v;
@use '../abstracts/typography-v' as typo;

.footer {
    &-top {
        @include space-m.spacing-y(padding, var(--spacer-3));
        background-color: var(--bg-footer-top-color);
    }

    &-bottom {
        @include space-m.spacing-y(padding, var(--spacer-3));
        background-color: var(--bg-footer-bottom-color);
    }
}

.text {
    color: #{color.$white};
    font-size: #{typo.$font-size-sm};

    &--center {
        text-align: center;
    }

    &--middle {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
    }

    & + * {
        margin-top: 8px;
    }
}

.btn {
    --footer-btn-size: 28px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--footer-btn-size);
    height: var(--footer-btn-size);
    border: 1px solid var(--white);
    border-radius: 50%;
    color: var(--white);
    font-size: 1.6rem;

    svg {
        width: 1em;
        height: 1em;
    }

    & + & {
        margin-left: 8px;
    }

    &:active,
    &:hover {
        border-color: var(--primary-color);
        color: var(--primary-color);
    }
}
