.icon-trash {
    color: var(--text-1-color);

    &:hover {
        color: var(--second-color);
    }
}

.wrap {
    --grid-gutter-y: 0;

    align-items: center;

    &-image {
        position: relative;
        width: 100%;
        padding-top: 56.25%;
        background-color: var(--bg-gray-color);
        border-radius: var(--spacer-1);
        overflow: hidden;

        & > * {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: auto;
            height: 100%;
        }
    }
}

.text {
    display: inline-block;

    &.price-new {
        color: var(--second-color);
        margin-right: var(--spacer-3);
    }

    &.price-old {
        color: var(--text-3-color);
        text-decoration: line-through;
    }
}

.loading {
    opacity: 0.4;
    pointer-events: none;
}
