.wrap {
    &-image {
        display: flex;
        flex-direction: column;
        row-gap: var(--spacer-4);
        padding: 0 var(--spacer-2);
        border-right: 1px solid var(--gray-color);
    }

    &-thumb {
        position: relative;
        width: 100%;
        padding-top: 56.25%;
        background-color: var(--bg-gray-color);
        border-radius: var(--spacer-1);
        overflow: hidden;
    }
}

.image-thumb {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 100%;
}

.center {
    display: flex;
    align-items: center;
}

.image {
    width: 100%;
    height: auto;
    border: 1.5px solid transparent;
    border-radius: var(--spacer-2);
    object-fit: contain;
    cursor: pointer;

    &:hover,
    &--active {
        border-color: var(--second-color);
    }
}
