.wrap {
    &-list {
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: var(--spacer-3);
        margin: var(--spacer-3) 0;
        overflow: hidden;
        transition: height 600ms;

        &--show {
            height: var(--scroll-height);
            overflow: auto;
        }
    }

    &-review {
        display: flex;
        column-gap: var(--spacer-3);
    }

    &-child {
        padding: var(--spacer-3) var(--spacer-2);
        border-radius: var(--spacer-2);
        background-color: var(--bg-contrast-3-color);
    }

    &-info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--spacer-2);
        margin-top: var(--spacer-2);
    }
}

.avatar {
    --size: 48px;

    width: var(--size);
    height: var(--size);

    img {
        width: 100%;
        border-radius: var(--round);
    }
}

.stars {
    --height-full: 10px;
    --height-half: 10px;

    margin-bottom: var(--spacer-2);
}

.dot {
    --size: 4px;

    width: var(--size);
    height: var(--size);
    border-radius: var(--round);
    background-color: var(--gray-color);
}

.text {
    &-date {
        color: var(--text-3-color);
    }

    &-line {
        color: var(--fourth-color);
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    &-show {
        margin-top: var(--spacer-2);
    }
}
